<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add To Cart</title>
    <link rel="stylesheet" href="/css/add.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>User Name</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Per Quantity Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="data">
        <% data.forEach(d=> { %>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.users.firstName %></td>
          <td><%= d.products.productName %></td>
          <td>
            <input
              type="number"
              style="width: 4rem"
              value="1"
              class="quantity"
              minlength="1"
              onchange="total(this)"
            />
          </td>
          <td class="price"><%= d.products.price %></td>
          <td><a onclick="remove('<%=d.id%>')">Delete</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="Checkout">
      <p>Total price is</p>
      <span class="Checkout" id="checkout"></span>
    </div>
  </body>
  <script>
    let response;
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
  <script src="/js/index.js"></script>
</html>
